---
import ExternalLink from "../components/ExternalLink.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Niels Bik" description="Senior Product Manager based in Sweden." canonical="https://nielsbik.com/">
    <header>
        <h1 class="font-serif font-bold text-2xl">Niels Bik</h1>
    </header>
    <main>
        <div class="prose">
            <p>
                I'm a Senior Product Manager at <ExternalLink href="https://www.openhomefoundation.org">Open Home Foundation</ExternalLink> working on making managing your smart home easier.
            </p>
            <p>
                Previously, I worked at
                <ExternalLink
                    href="https://www.stuvia.com">Stuvia</ExternalLink
                > to make buying and selling study materials easy and fast, and at
                <ExternalLink
                    href="https://www.prorail.nl">ProRail</ExternalLink
                > to transform how the Dutch railroad sector creates the timetable.
            </p>
            <p>
                I'm a very curious and result-driven person. I like learning
                about how things work and more importantly: why. I'm also a huge
                <!-- <a href="/music"> -->music fan<!-- </a> -->. <!-- I last listened to derp. -->
            </p>
            <p>
                You can reach me on <ExternalLink
                    href="https://www.linkedin.com/in/nielsbik">LinkedIn</ExternalLink
                > or by
                <a class="" href="mailto:hey@nielsbik.nl">email</a>.
            </p>
        </div>
    </main>
</Layout>
