---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <header>
        <h1 class="font-serif text-2xl font-bold">Music</h1>
        <p class="text-secondary">My top artists and tracks.</p>
    </header>
    <main>
        <h2 class="mb-5 mt-12">Top artists</h2>
        <ol>
            <li>huh</li>
        </ol>
        <h2 class="mb-5 mt-12">Top tracks</h2>
        <ol>
            <li>huh</li>
        </ol>
    </main>
</Layout>
