---
import Layout from "../layouts/Layout.astro";
import { getTopTracks } from "../lib/spotify";

const topTracks = await getTopTracks(10).catch(() => []);
---

<Layout title="Music — Niels Bik" description="My top artists and tracks." canonical="https://nielsbik.com/music">
    <header>
        <h1 class="font-serif text-2xl font-bold">Music</h1>
        <p class="text-secondary">My top artists and tracks.</p>
    </header>
    <main>
        <h2 class="mb-5 mt-12">Top tracks</h2>
        <ol>
            {topTracks.map(({ album, artists, track }) => (
              <li class="flex items-center">
                  <img class="size-8 rounded-md shrink-0" src={album.image} />
                  <div>
                      <a href={track.url}>
                          {track.name}
                      </a>
                      <div>
                          {artists[0].name}
                      </div>
                  </div>
              </li>
            ))}
        </ol>
    </main>
</Layout>
